.vimtags
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.toc
img/*.pgf
img/*.pdf
.$references.bib$
tikz/
*.auxlock
img/spinboson/
references.bib.bak
img/settings.pyc
img/*.png
img/fmo/*.pdb
